main{
    max-width: 800px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
div.rowbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.columns{
    display: flex;
    flex-direction: column;
}
div.wer1, div.wer2, div.wer3{
    display: flex;
    flex-direction: row;
    height: 450px;
}
input{
    background-color: red;
    color: white;
    border: solid 2px black;
    width: 100%;
    padding: 5px;
    font-size: 18px;
}
input:hover{
    cursor: pointer;
}
div.buttons{
    flex-basis: 0;
    flex: 1 1 0px;
}
div.catleft, div.catcenter, div.catright{
    background-color: blue;
    padding: 20px;
}
div.dogleft, div.dogcenter, div.dogright{
    background-color: green;
    padding: 20px;
}
div.catleft, div.dogright{
    flex: 1;
}
img.catleft, img.dogright{
    width: 550px;
    height: 350px;
}
#new3, #new2{
    display: none;
}
img.catcenter, img.dogcenter{
    width: 360px;
    height: 350px;
}